<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jw.studio.geckodevmaster">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CompatibilityActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:autoRemoveFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GeckoViewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified|adjustResize"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenSize|locale|layoutDirection|smallestScreenSize|screenLayout">
            <intent-filter>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.APP_BROWSER"/>

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="javascript"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".GeckoViewActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".GeckoViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.lge.intent.category.QSLIDE" />
            </intent-filter>

            <meta-data
                android:name="cleartask"
                android:value="false" />
            <meta-data
                android:name="min version"
                android:value="2.5" />
        </activity-alias>

        <activity
            android:name=".SessionActivity"
            android:label="GeckoView Example"

            android:windowSoftInputMode="stateUnspecified|adjustResize">
        </activity>

        <service
            android:name=".ExampleCrashHandler"
            android:exported="false"
            android:process=":crash">
        </service>
        <service
            android:name="com.lge.app.floating.FloatingWindowService" />
    </application>
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>
</manifest>
